<?xml version="1.0" encoding="utf-8"?>
<DeviceConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Id>HSMS_DEVICE_01</Id>
  <Name>半导体设备 01</Name>
  <Enabled>true</Enabled>
  <ProtocolType>Hsms</ProtocolType>
  <ConnectionTimeout>3000</ConnectionTimeout>
  <UpdateRate>100</UpdateRate>
  <Description>半导体设备 HSMS 通信配置 - Host/Active 模式</Description>
  <HsmsConfig>
    <Host>127.0.0.1</Host>
    <Port>5000</Port>
    <Mode>Host</Mode>
    <ConnectionMode>Active</ConnectionMode>
    <T3Timeout>100</T3Timeout>
    <T4Timeout>100</T4Timeout>
	<T5Timeout>100</T5Timeout>
    <T6Timeout>100</T6Timeout>
	<T7Timeout>100</T7Timeout>
    <DeviceType>Simulator</DeviceType>
    <Enable>true</Enable>
  </HsmsConfig>
  <Tags>
    <Tag Id="TAG_HSMS_001" Name="设备状态">
      <NodeId>S1F1</NodeId>
      <DataType>String</DataType>
      <ReadOnly>true</ReadOnly>
      <Description>SECS S1F1 设备状态</Description>
    </Tag>
    <Tag Id="TAG_HSMS_002" Name="生产计数">
      <NodeId>S1F2</NodeId>
      <DataType>Int32</DataType>
      <ReadOnly>true</ReadOnly>
      <Description>SECS S1F2 生产计数</Description>
    </Tag>
    <Tag Id="TAG_HSMS_003" Name="控制命令">
      <NodeId>S2F1</NodeId>
      <DataType>String</DataType>
      <ReadOnly>false</ReadOnly>
      <Description>SECS S2F1 控制命令</Description>
    </Tag>
  </Tags>
</DeviceConfig>