<?xml version="1.0" encoding="utf-8"?>
<DeviceConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DeviceId>HSMS_DEVICE_01</DeviceId>
  <DeviceName>半导体设备 01</DeviceName>
  <Enabled>true</Enabled>
  <ProtocolType>Hsms</ProtocolType>
  <ConnectionTimeout>3000</ConnectionTimeout>
  <UpdateRate>100</UpdateRate>
  <HeartbeatInterval>3000</HeartbeatInterval>
  <HeartbeatTimeout>5000</HeartbeatTimeout>
  <HeartbeatFailuresBeforeDisconnect>3</HeartbeatFailuresBeforeDisconnect>
  <Description>半导体设备 HSMS 通信配置 - Host/Active 模式</Description>
  <HsmsConfig>
    <Host>127.0.0.1</Host>
    <Port>5000</Port>
    <Mode>Eqp</Mode>
    <ConnectionMode>Passive</ConnectionMode>
    <HeartbeatType>LinkTest</HeartbeatType>
    <AutoReplySelect>true</AutoReplySelect>
    <DeviceId>1</DeviceId>
    <T3Timeout>45000</T3Timeout>
    <T4Timeout>45000</T4Timeout>
    <T5Timeout>10000</T5Timeout>
    <T6Timeout>50000</T6Timeout>
    <T7Timeout>10000</T7Timeout>
    <T8Timeout>5000</T8Timeout>
    <LinkTestInterval>3000</LinkTestInterval>
    <DeviceType>Simulator</DeviceType>
    <Enable>true</Enable>
  </HsmsConfig>
</DeviceConfig>